h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  font-family: monospace;
  font-size: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  background: #333;
  color: white;
  animation: hover-color 7s infinite alternate;
}

nav button:hover {
  animation: hover-color 7s infinite alternate;
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}
img {
  border-radius: 20px;
  background-color: white;
}

.allProductsPics {
  width: 150px;
  height: 150px;
  margin: 40px;
}

button {
  font-family: monospace;
  background: linear-gradient(to bottom right, #8e2de2, #4a00e0);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}

@keyframes hover-color {
  0% {
    color: rgb(255, 0, 0);
  }
  16.6% {
    color: rgb(255, 153, 0);
  }
  33.3% {
    color: whitesmoke;
  }
  50% {
    color: rgb(17, 153, 66);
  }
  66.6% {
    color: rgb(0, 0, 255);
  }
  83.3% {
    color: rgb(141, 44, 226);
  }
  100% {
    color: rgb(255, 0, 255);
  }
}
