.singleProductView {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.singleProductView strong {
  font-size: 30px;
}

.singleProductView h1 {
  animation: hover-color 7s infinite alternate;
  font-family: "Franklin Gothic Medium";
}

.singleProductView img {
  height: 300px;
  width: 300px;
}

.singleProductView h2 {
  animation: hover-color 7s infinite alternate;
  font-size: 30px;
}

.singleProductView p {
  font-size: 20px;
  padding: 0px 40px;
}

h3 {
  font-size: 25px;
}
