body {
  font-family: "Lato", sans-serif;
  background-color: skyblue;
  margin:20px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0.3em;
}

form div {
  margin: 1em;
  display: inline-block;
}

a > p {
  font-style: italic;
}
