#cart,
#all-orders {
  margin: 0px 50px;
}

.cart-item {
  text-align: center;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.price-column,
#checkout-column {
  text-align: center;
}

ul {
  list-style-type: none;
}
